NameVirtualHost *:80

{% for vhost in apache_vhosts %}

<VirtualHost 127.0.0.1:8080>

	ServerName {{ vhost.server_name }}

	{% for alias in vhost.server_aliases %}
	ServerAlias <%= server_alias %>
	{% endfor %}

	DocumentRoot /var/www/sites/{{ vhost.server_name }}/public_html

	ErrorLog /var/www/sites/{{vhost.server_name}}/logs/error.log
	CustomLog /var/www/sites/{{vhost.server_name}}/logs/access.log common

	DirectoryIndex index.php index.html
	
	<IfModule suexec.c>
		SuexecUserGroup {{ vhost.suexec.user }} {{ vhost.suexec.group }}
	</IfModule>

	<Directory /var/www/sites/{{ vhost.server_name }}/public_html>
		Options -Indexes
		AllowOverride All
	</Directory>

</VirtualHost>

{% endfor %}